
:root{
  --edgeberry_black: #1e1e1e;
  --edgeberry_blue: #0007ff;
  --edgeberry_darker_blue:#004080;
  --edgeberry_lighter_blue: #66B3FF;
  --edgeberry_gray: #808080;
  --edgeberry_silver: #c0c0c0;
  --edgeberry_red: #dc143c;
  --edgeberry_green: #00ff00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--edgeberry_black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--edgeberry_silver);
}