
:root{
  --edgeberry_black: #1e1e1e;
  --edgeberry_blue: #0007ff;
  --edgeberry_darker_blue:#004080;
  --edgeberry_lighter_blue: #66B3FF;
  --edgeberry_gray: #808080;
  --edgeberry_silver: #c0c0c0;
  --edgeberry_red: #dc143c;
  --edgeberry_green: #00ff00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--edgeberry_silver);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  background-color: var(--edgeberry_black);
  min-height: 100vh;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
}

.App-centered {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--edgeberry_silver);
}

/* Sign-in box */
.centerbox{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  color: var(--edgeberry_silver);
}
/* Primary button */
.btn{
  min-width: 140px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: var(--edgeberry_blue);
  border-color: var(--edgeberry_darker_blue);
  box-shadow: 0 0px 0px var(--edgeberry_blue) inset, 0,0,0px var(--edgeberry_darker_blue);
}

.btn-primary:hover {
  background-color: var(--edgeberry_darker_blue);
  border-color: var(--edgeberry_blue);
  box-shadow: 0 0px 0px var(--edgeberry_darker_blue) inset, 0,0,3px var(--edgeberry_blue);

}

/* Danger button */
.btn-danger, .btn-danger:active, .btn-danger:visited {
  background-color: var(--edgeberry_red);
}